export(cohortSim)
export(lengthWeightSim)
export(leslieSim)
export(lwModelSim)
export(mrClosed1Sim)
export(sample4ALK)
export(simAgeBias)
export(simAges)
export(simApplyAgeBias)
export(simLenFromAge)
export(simLenSelectM)
export(simLenSelectP)
export(srCobWeb)
export(vbComp)
export(vbDataGen)
import(FSA)
importFrom(TeachingDemos,cnvrt.coords)
importFrom(nlme,getGroupsFormula)
importFrom(nlme,groupedData)
importFrom(nlme,nfGroupedData)
importFrom(nlme,nmGroupedData)
importFrom(relax,gslider)
importFrom(relax,slider)
